<form action="users_path" method="post" accept-charset="UTF-8">
    <%= label_tag (:email, "Email") %>
    <input type="email" name="email">

    <%= label_tag (:username, "Username") %>
    <input type="text" name="username">

    <%= label_tag (:password, "Password") %>
    <input type="password" name="password">
</form>